body {
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-areas:
  "h h"
  "n p";
  grid-auto-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
}
.app_Content
{
  grid-area: p;
  background-color: aqua;
}

